@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Bienvenido al Controller Product / Vista Index</p>
    <br />
    NombreProducto: @Model.NameABC
    <br />
    <br />
    
    <p>Desde ViewBag</p>
    <p>Nombre Producto: @ViewBag.NombreProducto</p>
    <p>Tipo Producto: @ViewBag.TipoProducto</p>
</div>
